<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.3/tocbot.css">
    <style>
        .gh-content {
            position: relative;
        }

        .gh-toc > .toc-list {
            position: relative;
            font-size: 16px;
            padding-right: 20px;
        }

        .toc-list {
            overflow: hidden;
            list-style: none;
        }

        @media (min-width: 1300px) {
            .gh-sidebar {
                position: absolute; 
                top: 0;
                bottom: 0;
                margin-top: 4vmin;
                grid-column: wide-start / main-start; /* Place the TOC to the left of the content */
            }
        
            .gh-toc {
                position: sticky; /* On larger screens, TOC will stay in the same spot on the page */
                top: 4vmin;
            }
        }

        .gh-toc .is-active-link::before {
            background-color: var(--ghost-accent-color); /* Defines TOC   accent color based on Accent color set in Ghost Admin */
        } 
    </style>
    {{!-- banner --}}
    <style>
    .gh-banner {
    display: block;
    height: 90px;
    padding: 0 var(--gap);
    line-height: 1.3;
    background-color: #eeeff1; /* Banner background color */
    background-repeat: no-repeat;
    background-position: center;
    }

    .gh-banner-inner {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    }

    .gh-banner-right {
    flex-shrink: 0;
    }

    .gh-banner-headline {
    font-size: 120%;
    font-weight: 700;
    }

    .gh-banner-button {
    padding: 0.35em 0.65em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 3px;
    transition: background-color 0.3s;
    }

    .gh-banner:hover .gh-banner-button {
    background-color: var(--ghost-accent-color);
    }

    @media (max-width: 500px) {
    .gh-banner {
        font-size: 1.4rem;
    }

    .gh-banner-inner {
        flex-direction: column;
        justify-content: center;
    }
    }

    @media (max-width: 768px) {
    .gh-banner {
        position: relative;
        color: #fff;
    }

    .gh-banner::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0 0 0 / 50%);
    }

    .gh-banner-inner {
        position: relative;
        z-index: 1;
    }
    }

    /* Override Headline theme defaults */
    .gh-banner:hover {
    opacity: 1 !important;
    }

    .gh-head-menu::before {
    top: 170px;
    }

    .gh-head-menu::after {
    top: 226px;
    }

    /* breadcrumb */
    .breadcrumb {
        display: flex;
        list-style: none;
        padding: 0;
        font-size: 14px;
    }

    .breadcrumb a{
        color: #0566ff;
    }

    .breadcrumb li + li::before {
    content: "/";
    margin: 0 0.5em;
    opacity: .5;
    }

    .breadcrumb-item-current {
        font-weight: 500;
    }

</style>
    {{ghost_head}}
    <style>
        :root {
            {{#if @custom.button_color}}
            --button-bg-color: {{@custom.button_color}};
            {{/if}}
        }
    </style>
</head>

<body class="{{body_class}}{{block "body_class"}}  is-head-{{#match @custom.navigation_layout "Logo on the left"}}left-logo{{else match @custom.navigation_layout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">

<div class="site">
    <header id="gh-head" class="gh-head gh-outer">
        <div class="gh-head-inner gh-inner">
            <div class="gh-head-brand">
                <div class="gh-head-brand-wrapper">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                </div>
                <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                <button class="gh-burger"></button>
            </div>

            <nav class="gh-head-menu">
                {{navigation}}
                {{#unless @site.members_enabled}}
                    {{#match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{/unless}}
            </nav>

            <div class="gh-head-actions">
                {{#unless @site.members_enabled}}
                    {{^match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{else}}
                    <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                    {{!-- {{#unless @member}}
                        {{#unless @site.members_invite_only}}
                            <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Subscribe</a>
                        {{else}}
                            <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signin" data-portal="signin">Login</a>
                        {{/unless}}
                    {{else}}
                        <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}} --}}
                {{/unless}}
            </div>
        </div>
    </header>

    {{#is "home"}}
    <div class="site-cover{{#unless @site.cover_image}} no-image{{/unless}} u-overlay">

        {{#if @site.cover_image}}
            <img class="cover-image jarallax-img u-object-fit" src="{{img_url @site.cover_image}}" alt="{{@site.title}}">
        {{/if}}

        <div class="cover-content">
            {{#if @site.description}}
                <div class="cover-description">{{@site.description}}</div>
            {{/if}}
            <div class="search">
                <form class="search-form">
                    <div class="form-wrapper">
                        <div class="search-field" data-ghost-search>Search posts, tags, authors...</div>
                        <button class="form-button search-button" type="submit" data-ghost-search>
                            {{> "icons/search"}}
                            {{> "icons/close"}}
                        </button>
                    </div>
                </form>
                <div class="search-result"></div>
            </div>
        </div>

    </div>
    {{/is}}

    <div class="site-content">
        {{{body}}}
    </div>

    <footer class="gh-foot gh-outer">
        <div class="text-center gh-foot-inner gh-inner">
            {{!-- <div class="gh-copyright">
                {{@site.title}} © {{date format="YYYY"}}
            </div> --}}
            <nav class="w-full gh-foot-menu">
                {{navigation type="secondary"}} <br><br>
                {{@site.title}} © {{date format="YYYY"}}
            </nav>
            {{!-- <div class="gh-powered-by">
                <a href="https://ghost.org/" target="_blank" rel="noopener">Powered by Ghost</a>
            </div> --}}
        </div>
    </footer>

</div>

{{#is "post, page"}}
    {{> "pswp"}}
{{/is}}

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="{{asset "built/main.min.js"}}"></script>
{{!-- Tocbot script --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.3/tocbot.min.js"></script>
{{! Initialize Tocbot after you load the script }}
<script>
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.gh-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.gh-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3, h4',
        // Ensure correct positioning
        hasInnerContainers: true,
    });
</script>
{{ghost_foot}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css" integrity="sha512-+oRH6u1nDGSm3hH8poU85YFIVTdSnS2f+texdPGrURaJh8hzmhMiZrQth6l56P4ZQmxeZzd2DqVEMqQoJ8J89A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    .text-center{
        text-align: center;
    }
    .w-full{
        width: 100%;
    }
    .gh-foot-inner{
        display: block;
    }
    .gh-foot-menu .nav-twitter a,
    .gh-foot-menu .nav-facebook a,
    .gh-foot-menu .nav-instagram a,
    .gh-foot-menu .nav-linkedin a,
    .gh-foot-menu .nav-youtube a {
        font-size: 0 !important;
    }

    .gh-foot-menu .nav-twitter a::before,
    .gh-foot-menu .nav-facebook a::before,
    .gh-foot-menu .nav-instagram a::before,
    .gh-foot-menu .nav-linkedin a::before,
    .gh-foot-menu .nav-youtube a::before {
        font-family: "Font Awesome 6 Brands";
        display: inline-block;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        border-radius: 50%;
    }

    .gh-foot-menu .nav-twitter a::before {content: "\f099"}
    .gh-foot-menu .nav-facebook a::before {content: "\f09a"}
    .gh-foot-menu .nav-instagram a::before {content: "\f16d"}
    .gh-foot-menu .nav-linkedin a::before {content: "\f08c"}
    .gh-foot-menu .nav-youtube a::before {content: "\f167"}

    .gh-foot-menu .nav-twitter a::before{background: #03a9f4}
    .gh-foot-menu .nav-facebook a::before {background: #203f7f}
    .gh-foot-menu .nav-instagram a::before {background:linear-gradient(150deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%)}
    .gh-foot-menu .nav-linkedin a::before {background: #007bff}
    .gh-foot-menu .nav-youtube a::before {background: #dc3545}
</style>
</body>
</html>