{{#if @custom.cove_publication_id}}
<div class="new-comment-post post-comment-box py-40">
    <div class="cove-count-wrapper">
        <h4><span id="cove-count"></span> Comments</h4>
        {{^if @member}}
        <p>Sign in or become a {{@site.title}} member to join the conversation.<br>
        Just enter your email below to get a log in link.</p>
        <form data-members-form="signin" id="cove-login">
            <div class="cove-input-wrapper">
                <input class="cove-input" data-members-email type="email" required="true" placeholder="Enter your email" />
                <button type="submit" class="cove-button">
                    <span class="button-text">{{t "Login"}}</span>
                    <span class="button-spinner" style="display:none">
                        {{> icons/loader}}
                    </span>
                </button>
            </div>
            <span class="signin-success cove-text" style="display:none">{{t "Great! Please check your inbox (or spam folder) for a log in link."}}</span>
            <span class="signin-error" style="display:none">{{t "Something didn't work. Please try again"}}.</span>
        </form>
        {{/if}}
        <div id="cove"></div>
        {{#if @member}}
        <p class="cove-text">{{t "Signed in as"}} {{@member.email}} · <a href="javascript:" data-members-signout>Sign out</a></p>
        {{/if}}
    </div>
</div>
<script src="https://cdn.cove.chat/comments.js" async></script>
<script>
    const Cove = {
        publication: "{{@custom.cove_publication_id}}",
        contentId: "{{id}}",
        memberId: "{{@member.uuid}}",
        memberEmail: "{{@member.email}}",
        memberName: "{{@member.firstname}}"
    }
</script>
{{/if}}