{{^is "home"}}
<div class="breadcrumbs-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pl-0 mb-0">
                        <li class="breadcrumb-item " aria-current="page"><a href="{{@site.url}}">{{t "Home"}}</a></li>
                        {{#primary_tag}}
                        <li class="breadcrumb-item " aria-current="page"><a href="{{url}}">{{name}}</a></li>
                        {{/primary_tag}}
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{{/is}}