{{!< default}}

{{#post}}
{{!-- breadcrumb --}}
{{> bredcrumb-menu}}

{{!-- banner Section  --}}
{{> cover-banner}}
{{/post}}


{{!-- single authors card --}}
{{#get "authors" limit="all" include="count.posts" order="count.posts desc"}}
    {{#if authors}}
    <div class="team-section-area section-padding">
        <div class="container">
            <div class="team-area">
                <div class="row">
                    {{#foreach authors}}
                    <div class="col-lg-4 col-md-6">
                        <div class="author-content-inner">
                            <div class="single-authors{{#if profile_image}} author-profile-item {{else}} author-profile-item{{/if}}">
                                {{#if profile_image}}
                                    <img class="image" src="{{profile_image}}" alt="{{name}}">
                                    {{else}}
                                        <div class="local-profile-image">
                                            <div class="default-image">
                                                {{> icons/author}}
                                            </div>
                                        </div>
                                {{/if}}
                                <div class="overlay">
                                    {{#has any="facebook, twitter,website"}}
                                    <div class="text-center overlay-content d-flex justify-content-center flex-column align-items-center px-15 py-15 h-100">
                                        <ul class="flex-wrap social-profile-link d-flex">
                                            {{#if facebook}}
                                            <li>
                                                <a target="_blank" href="{{facebook_url}}">{{> icons/social-icons/facebook}}</a>
                                            </li>
                                            {{/if}}
                                            {{#if twitter}}
                                            <li>
                                                <a target="_blank" href="{{twitter_url}}">{{> icons/social-icons/twitter}}</a>
                                            </li>
                                            {{/if}}
                                            {{#if website}}
                                            <li>
                                                <a target="_blank" href="{{website}}">{{> icons/social-icons/link}}</a>
                                            </li>
                                            {{/if}}
                                        </ul>
                                    </div>
                                    {{/has}}
                                </div>
                                
                            </div>

                            <div class="px-20 py-10 single-authors-title">
                                <h5 class="mb-10"><a href="{{url}}">{{name}}</a></h5>
                                {{#if bio}}
                                    <p>{{bio}}</p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
{{/get}}