{{!< default}}

{{#if @member}}
{{!-- Member: Redirect to account --}}
<script>window.location = '{{@site.url}}/account/';</script>
{{else}}
<div class="membership-section">
    <div class="container">
        {{#post}}
        <div class="row">
            <div class="col-md-12 membership-cover-wrapper">
                {{#if feature_image}}
                    <div class="membership-feature">
                        <img srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                        sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 700px,
                        1400px" src="{{img_url feature_image size="xl"}}" alt="{{title}}">
                    </div>
                {{/if}}
                <div class="{{#if feature_image}}subscribe-cover-box{{else}}membership-no-feature mx-auto text-center{{/if}}">
                    <div class="subscribe-cover-section">
                        <h2>{{t "Membership"}}</h2>
                        <p>{{t "Unlock full access to {sitetitle} and see entire library of members only content and updates" sitetitle=@site.title}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/post}}

        <div class="row">
            <div class="col-md-10 mx-auto text-center pt-50 pb-20 pt-lg-80 pb-lg-30">
                <div class="plan-heading">
                    <h4 class="plan-item">
                        {{t "Choose your plan"}}
                    </h4>
                    <span class="m-shape">
                        {{> icons/shape}}
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-lg-8 mx-auto">
                <div class="membership-switch"  data-active-price="yearly">
                    <button data-price="monthly">{{t "Monthly"}}</button>
                    <button data-price="yearly">{{t "Yearly"}}</button>
                </div>
            </div>
        </div>

        <div class="row justify-content-center pb-30 pb-lg-50">
            {{> members/pricing-tables/pricing-plan}}
        </div>
        
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="free-sign-up d-flex justify-content-between align-items-center">
                    <div class="sign-content mr-20">
                        <h6>{{t "Signup for free"}}</h6>
                        <span>{{t "Try our subscriber only articles by signing up for free"}}</span>
                    </div>
                    <div class="btn-sign-info">
                        <a class="btn subscribe-btn-primary btn-md" href="{{@site.url}}/signup/">&nbsp;{{t "Sign up"}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}