<!DOCTYPE html>
<html class="no-js" lang="{{@site.locale}}"

{{#match @custom.select_color_scheme "Light"}} 
   data-theme="light"
{{/match}}

{{#match @custom.select_color_scheme "Dark"}} 
   data-theme="dark"
{{/match}}
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title page=(t "Page %")}}</title>
    <!-- CSS Files -->
    {{> google-fonts}}
    <link rel="stylesheet" type="text/css" href="{{asset "/css/style.css"}}" />
    <script>
        if (typeof (Storage) !== 'undefined') {
            if (localStorage.getItem('selected-theme') == 'dark') {
                document.documentElement.setAttribute('data-theme', 'dark');
            }
            else if (localStorage.getItem('selected-theme') == 'light') {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        }
    </script>
    {{{block "fonts_css"}}}
    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{#match @custom.select_color_scheme "Auto"}} 
    <script>
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.querySelector("html").setAttribute('data-theme', 'dark')
        }else{
            document.querySelector("html").setAttribute('data-theme', 'light')
        }
    </script>
    {{/match}}
    {{ghost_head}}
</head>
<body class="{{body_class}}"{{#if @custom.rtl_view}} data-direction="rtl"{{/if}}>
{{!-- Header for all pages --}}
{{> header}}

{{!-- body --}}
{{{body}}}
    {{!-- <div id="modal">
        <div id="slidemodal_1" class="slidemodal_contents">
            <img src="{{img_url @custom.modal_image size="large"}}" alt="" />
        </div>
        <div class="gh-portal-section">
            <header class="gh-portal-signup-header"><h1 class="gh-portal-main-title">Dapatkan eBook Gratis</h1></header>
            <form action="#" method="post">
            <div class="gh-portal-logged-out-form-container">
                <section class="gh-portal-input-section">
                    <div class="gh-portal-input-labelcontainer"><label for="input-name" class="gh-portal-input-label"> Name </label></div>
                    <input id="input-name" class="gh-portal-input required" type="text" name="name" placeholder="Jamie Larson"  onkeyup="enableSubmit()" aria-label="Name" value="">
                </section>
                <section class="gh-portal-input-section">
                    <div class="gh-portal-input-labelcontainer"><label for="input-email" class="gh-portal-input-label"> Email </label></div>
                    <input id="input-email" class="gh-portal-input required" type="email" name="email" placeholder="jamie@example.com"   onkeyup="enableSubmit()" aria-label="Email" value="">
                </section>
            </div>
            <div>
                <div class="sticky gh-portal-btn-container m24">
                    <div class="gh-portal-logged-out-form-container">
                        <input class="gh-portal-btn gh-portal-btn-main gh-portal-btn-primary" id="Download" type="submit" disabled="disabled" value="Ambil Sekarang" onclick="window.location.href = '{{#if @custom.download_link}}{{@custom.download_link}}{{/if}}';">
                    </div>
                </div>
            </div>
            </form>
            
        </div>

        <div id="close_btn" class="close-fixie">
            +
        </div>
        <script>
            function enableSubmit() {
                let inputs = document.getElementsByClassName('required');
                let btn = document.querySelector('input[type="submit"]');
                let isValid = true;
                for (var i = 0; i < inputs.length; i++) {
                    let changedInput = inputs[i];
                    if (changedInput.value.trim() === "" || changedInput.value === null) {
                        isValid = false;
                        break;
                    }
                }
                btn.disabled = !isValid;
            }
        </script>

    </div> --}}
    
{{!-- Footer --}}
{{> footer}}
<script>
    var pagination_next_page_number = '{{ pagination.next }}',
        pagination_available_pages_number = '{{ pagination.pages }}',
        serachContentApi;
    {{#if @custom.search_content_api}}
    var serachContentApi = "{{@site.url}}/ghost/api/v4/content/posts/?key={{@custom.search_content_api}}&limit=all&include=tags";
    {{/if}}
</script>

{{!-- Jquery scripts --}}
<script src="{{asset '/js/scripts.js'}}"></script>

{{#is "post,page"}}
<script src="{{asset '/js/single.js'}}"></script>
{{/is}}

<script>
    const switchCard = document.querySelector(".membership-switch"),
        button = document.querySelectorAll(".membership-switch button"),
        monthlyPrice = document.querySelectorAll(".single-price-box [data-monthly]"),
        yearlyPrice = document.querySelectorAll(".single-price-box [data-yearly]");
        planBtn = document.querySelectorAll(".plan-btn a");
        yearlyPlan = document.querySelectorAll(".yearly-plan");
        monthlyPlan = document.querySelectorAll(".monthly-plan");
        button.forEach(function(item, index) {
            item.addEventListener("click", function() {
                switchCard.setAttribute("data-active-price", this.getAttribute("data-price"));
                if (this.dataset.price === "monthly") {
                    monthlyPrice.forEach(function(monthly, index) {
                        monthly.style.display = "block";
                    });
                    yearlyPrice.forEach(function(yearly, index) {
                        yearly.style.display = "none";
                    });
                    yearlyPlan.forEach(function(year, index) {
                        year.style.display = "none";
                    });
                    monthlyPlan.forEach(function(month, index) {
                        month.style.display = "block";
                    });
                   
                } else {
                    monthlyPrice.forEach(function(monthly, index) {
                        monthly.style.display = "none";
                    });
                    yearlyPrice.forEach(function(yearly, index) {
                        yearly.style.display = "block";
                    });
                    yearlyPlan.forEach(function(year, index) {
                        year.style.display = "block";
                    });
                    monthlyPlan.forEach(function(month, index) {
                        month.style.display = "none";
                    });
                }
            });
        });
    
</script>

{{!-- to show block scripts --}}
{{{block "scripts"}}}
{{!-- ghost footer --}}
{{ghost_foot}}

{{!-- <script>
    $(".close-fixie").on('click', function(){ 
        $("#fixie").fadeOut(193);
        $("#modal").animate({top:0, opacity:0}, 555, function() {
        $("#modal").hide();
        var windowHeight = $(window).height();
        $("#modal").css("top",windowHeight);
        });
    });
        var mouseY = 0;
        var topValue = 0;
        var popcounter = 0;
        window.addEventListener(
            "mouseout",
            function (e) {
                mouseY = e.clientY;
                if (mouseY <= topValue) {
                    if (popcounter <= 0) {
                        $("#modal").show();
                        var windowHeight = $(window).height();
                        var modalMove = (windowHeight * 0.12);
                        $("#fixie").fadeIn(55);
                        $("#modal").animate({ top: modalMove, opacity: 1 }, 555, function () { });
                        popcounter++;
                    }

                }
            },
            false
        );
</script> --}}

{{!-- <div id="fixie" class="close-fixie"></div> --}}
</body>
</html>